html {
  overflow: hidden;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}
dialog {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: unset;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  color: #fff;
  font-size: 14px;
}
dialog[open] {
  opacity: 1;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, .5); 
}
dialog .popup {
  width: 260px;
  height: fit-content;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  padding: 0;
  border-radius: 10px;
  background-image: url('/static/images/124697953_p0.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-attachment: local;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: .1px;
  box-sizing: border-box;
  background-image: url('/static/images/124697953_p0.png');
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.container.bg1 {
  background-image: url('/static/images/133022012_p0.jpg');
}

a {
  color: #2678b6;
}

button {
  display: block;
  width: 90%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 15px auto;
  border: none;
  border-radius: 4px;
  background-color: #ff8aac;
  color: #ffffff;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.6;
  cursor: auto;
  pointer-events: none;
}

button.close_btn {
  /*position: fixed;*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  margin: 0;
  padding: 16px 20px;
  text-transform: uppercase;
}

input[disabled] {
  opacity: .6;
}

input.number,
select.number {
  width: 22px;
  height: 20px;
  margin: 0;
  padding: 0 3px;
  color: #faf40d;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  font-weight: bold;
  outline: none;
  text-align: right;
  appearance: none;
}

.calendar-box {
  display: flex;
  justify-content: center;
}

.calendar th, 
.calendar td {
  background: #aaaaaa7f;
}
.calendar tr:nth-child(1) th {
  background: unset;
  font-weight: normal;
}
.calendar tr th {
  height: 23px;
}
.calendar tr td {
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  border: 2px solid transparent;
}
.calendar td.active {
  border: 2px solid #fb9333;
  background: #aaaaaae0;
}
.date_selecter .time-box {
  background: transparent !important;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
}